@model ProductDto
@{
    ViewBag.Title = "Create new product";
}

<form method="post">
    <fieldset>
        <legend class="mt-5 pt-5 mb-3 pb-3">Edit Product</legend>
        <div class="row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10 mb-3">
                <input type="text" class="form-control" asp-for="Name" placeholder="Product name..">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10 mb-3">
                <textarea class="form-control-" asp-for="Description" placeholder="Describe your product.." />
            </div>
        </div>
        <div class="row">
            <label asp-for="ProductPrice" class="col-sm-2 col-form-label">Price Range:</label>
            <div class="col-sm-10 mb-3">
                <input type="range" class="form-range" asp-for="ProductPrice" placeholder="Price range..">
                <span class="text-danger" asp-validation-for="ProductPrice"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="CategoryName" class="col-sm-2 col-form-label">Category Name:</label>
            <div class="col-sm-10 mb-3">
                <input type="text" class="form-control" asp-for="CategoryName" placeholder="Category..">
            </div>
        </div>
        <div class="row">
            <label asp-for="ImageUrl" class="col-sm-2 col-form-label">Category Name:</label>
            <div class="col-sm-10 mb-3">
                <input type="image" class="form-control" asp-for="ImageUrl" placeholder="Product image..">
            </div>
        </div>

        <button type="submit" class="btn btn-info">Update</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </fieldset>
</form>