@model UserDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    <div class="card text-white bg-secondary m-5 p-5" style="max-width: 20rem;"> 
        <div class="card-header">Welcome @Model?.Name</div>
        <div class="card-body d-flex">
            <h4 class="card-title">Email: @Model?.UserId</h4>
            <p class="card-text">Phone: @Model?.Email</p>
            <p class="card-text">Phone: @Model?.PhoneNumber</p>
        </div>
    </div>
</div>
